

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    font-family: "Open Sans", "Aria", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #444;
}

/* Container */

.container{
     width: 100%;
     max-width: 1160px;
     padding-right: 30px;
     padding-left: 30px;
     margin-right: auto;
     margin-left: auto;
}

/* header */

.site-header{
    padding: 24px;
}

.site-header-container{
    display: flex;
    justify-content: space-between;
    align-items:center;
}

.logo{
    display: flex;
    align-items: center;
}

.logo-text{
    color: #222;
    font-family: "Open Sans";
    font-size: 24px;
    font-weight: 600;
    margin-left: 16px;
    text-decoration: none;
}

.sitenav-list{
    display: flex;
    list-style: none;
}

.site-nav{
    color: #222;
    margin-left: 32px;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
    line-height: 21px;
    letter-spacing: 2px;
    text-transform: uppercase;    
}

.button{
    color: #FFF;
    padding: 12px 24px;
    font-size: 15px;
    font-weight: 700;
    line-height: 22px;
    border-radius: 8px;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #DE2E54;
}
