

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    font-family: "Open Sans", "Aria", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #444;
}

 *:focus{
    outline: 2px dotted #222;
 }

/* Container */

.container{
     width: 100%;
     max-width: 1160px;
     padding-right: 30px;
     padding-left: 30px;
     margin-right: auto;
     margin-left: auto;
}

/* header */

.site-header{
    padding-top: 24px;
    padding-bottom: 24px;
}

.site-header-container{
    display: flex;
    justify-content: space-between;
    align-items:center;
}

.logo{
    display: flex;
    align-items: center;
}

.logo-text{
    color: #222;
    font-family: "Open Sans";
    font-size: 24px;
    font-weight: 600;
    margin-left: 16px;
    text-decoration: none;
}

.logo-text:hover{
    color: #DE2E54;
}

.sitenav-list{
    display: flex;
    list-style: none;
    align-items: center;
}

.list-items:not(:last-child){
    margin-right: 32px;
}

.site-nav{
    color: #222;
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
    letter-spacing: 2px;
    text-transform: uppercase;    
}

.site-nav:hover{
    color: #DE2E54;
}

.button{
    display: inline-block;
    color: #FFF;
    padding: 10px 22px;
    font-size: 15px;
    font-weight: 700;
    line-height: 22px;
    border-radius: 8px;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #DE2E54;
    border: 2px solid #DE2E54;
}

.button:hover{
    color: #DE2E54;
    border-radius: 8px;
    background-color: #FFF;
    border: 2px solid #DE2E54;
}


/* main section*/

.hero{
    background-color: #0EB4C1;
    color: #FFF;
}

.hero-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-title{
    width: 500px;
    padding-top: 120px;
    padding-bottom: 120px;
}

.hero-heading{
    margin-bottom: 16px;
    font-family: "Open Sans Condensed";
    font-size: 36px;
    font-weight: 700;
    line-height: 42px;
}

.hero-text{
    margin-bottom: 48px;
    width: 440px;
    color: #FFF;
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
}

.hero-img{ 
    align-self: flex-end;
}

/* services */

.services{
    padding-top: 120px;
    padding-bottom: 120px;
}

.services-heading{
    margin-top: 0;
    margin-bottom: 56px;
    text-align: center;
}

.service-list{
    width: 864px;
    padding: 0;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    list-style-type: none;
}

.services-item.list-items:not(:last-child){
    margin-bottom: 80px;
}

.index-services{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-items: center;
}

.service-title{
    width: 800px;
}

.service-title-heading{
    font-size: 24px;
    color: #222;
    font-weight: 700;
    line-height: 27px;
}

.services-main-title{
    color: #222;
    font-family: "Open Sans, Condensed";
    font-size: 36px;
    font-weight: 700;
    line-height: 42px;
}

.service-text{
    font-weight: 400;
}

.services-btn{
    display: flex;
    justify-content: center;
}

/* contact */

.contact{
    padding: 64px;
    background-color: #0EB4C1;
}

.contact-container{
    text-align: center;
}

.contact-heading{
    color: #FFF;
    font-family: "Open Sans, Condensed";
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 42px;
}


.call-btns{
    color: #FFF;
    padding: 12px 24px;
    justify-content: center;
    background-color: #0EB4C1;
    align-items: center;
    border-radius: 8px;
    border: 2px solid #FFF;
}

.call-btns:hover{
    color: #FFF;
    border-radius: 8px;
    background-color: #DE2E54;
    border: 2px solid #DE2E54;
}




/* footer */

.site-footer{
    padding: 24px;
    background-color: #222;
}

.footer-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-logo-text{
    color: #FFF;
}

.footer-logo-text:hover{
    color: #DE2E54;
}

.footer-nav-item{
    color: #FFF;
}

.footer-nav-item:hover{
    color: #DE2E54;
}
