

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    font-family: "Open Sans", "Aria", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #444;
}

/* Container */

.container{
     width: 100%;
     max-width: 1160px;
     padding-right: 30px;
     padding-left: 30px;
     margin-right: auto;
     margin-left: auto;
}

/* header */

.site-header{
    padding: 24px;
}

.site-header-container{
    display: flex;
    justify-content: space-between;
    align-items:center;
}

.logo{
    display: flex;
    align-items: center;
}

.logo-text{
    color: #222;
    font-family: "Open Sans";
    font-size: 24px;
    font-weight: 600;
    margin-left: 16px;
    text-decoration: none;
}

.sitenav-list{
    display: flex;
    list-style: none;
}

.site-nav{
    color: #222;
    margin-left: 32px;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
    letter-spacing: 2px;
    text-transform: uppercase;    
}

.button{
    color: #FFF;
    padding: 12px 24px;
    font-size: 15px;
    font-weight: 700;
    line-height: 22px;
    border-radius: 8px;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #DE2E54;
}


/* main section*/

.hero{
    background-color: #0EB4C1;
}

.hero-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-heading{
    margin-bottom: 16px;
    font-family: "Open Sans Condensed";
    font-size: 36px;
    font-weight: 700;
    color: #FFF;
    line-height: 42px;
}

.hero-text{
    margin-bottom: 48px;
    width: 440px;
    color: #FFF;
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
}

.hero-img{
    object-fit: cover;
}


/* footer */

.site-footer{
    padding: 24px;
    background-color: #222;
}

.footer-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-logo-text{
    color: #FFF;
    font-family: "Open Sans";
    font-size: 24px;
    font-weight: 600;
    margin-left: 16px;
    text-decoration: none;
}

.footer-nav-item{
    color: #FFF;
    margin-left: 32px;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
    letter-spacing: 2px;
    text-transform: uppercase;  ;
}

/* contact */

.contact{
    padding: 64px;
    background-color: #0EB4C1;
}

.contact-container{
    text-align: center;
}

.contact-heading{
    color: #FFF;
    font-family: "Open Sans, Condensed";
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 42px;
}


.call-btns{
    color: #FFF;
    padding: 12px 24px;
    justify-content: center;
    background-color: #0EB4C1;
    align-items: center;
    border-radius: 8px;
    border: 2px solid #FFF;
}

